<section class="py-5 my-5"  >
    <h2 class="text-center text-main p-2">{{"forgetpassword.Forget Password"|translate}}</h2>
 @if (step()==1) 
 {
    <form [formGroup]="verifyemail" class="shadow rounded-3  p-2"  (ngSubmit)="verifyemailsubmit()">
        <div class="my-3">
            <label for="email">{{"forgetpassword.email"|translate}}</label>
            <input [ngClass]="{
                 'is-valid':   ! verifyemail.get('email')?.errors &&( verifyemail.get('email')?.touched ||verifyemail.get('email')?.dirty) ,
                 'is-invalid':verifyemail.get('email')?.errors &&( verifyemail.get('email')?.touched ||verifyemail.get('email')?.dirty)
            } "
        
             formControlName="email" id="email" type="email" class="form-control">


            @if (verifyemail.get('email')?.errors && (verifyemail.get('email')?.touched ||verifyemail.get('email')?.dirty)) {
            
                <div class="alert alert-danger w-50">
                    @if (verifyemail.get('email')?.getError('required')) {

                        <P class="m-0">{{"forgetpassword.Email is Required"|translate}}</P>
                    }
                @else if (verifyemail.get('email')?.getError('email')) {

                    <P class="m-0">{{"forgetpassword.Enter Valid Email"|translate}}</P>
                }

                  </div>
          
            }
        </div>
        <button   [disabled]="verifyemail.invalid" class="btn-main">{{"forgetpassword.verifyemail"|translate}}
            @if (IsLoading()) {
                <span><i class="fas fa-spin fa-spinner"></i></span>
            }
    </button>
   
    </form>
 }
@else if (step()==2) 
{
    <form [formGroup]="verifycode" class="shadow rounded-3 p-2 "  (ngSubmit)="verifycodesubmit()">
        <div class="my-3">
            <label for="resetCode">{{"forgetpassword.resetCode"|translate}}</label>
            <input  [ngClass]="{
                'is-valid':   ! verifycode.get('resetCode')?.errors &&( verifycode.get('resetCode')?.touched ||verifycode.get('resetCode')?.dirty) ,
                'is-invalid':verifycode.get('resetCode')?.errors &&( verifycode.get('resetCode')?.touched ||verifycode.get('resetCode')?.dirty)
           }"
             formControlName="resetCode" id="resetCode" type="text" class="form-control">

            
            @if (verifycode.get('resetCode')?.errors && (verifycode.get('resetCode')?.touched  ||verifycode.get('resetCode')?.dirty)) {
            
                <div class="alert alert-danger w-50">
                    @if (verifycode.get('resetCode')?.getError('required')) {

                        <P class="m-0">{{"forgetpassword.resetCode is Required"|translate}}</P>
                    }
                @else if (verifycode.get('resetCode')?.getError('pattern')) {

                    <P class="m-0">{{"forgetpassword.Enter valid resetCode"|translate}}</P>
                }

                  </div>
          
            }

        </div>
        <button    [disabled]="verifycode.invalid" class="btn-main">{{"forgetpassword.verifycode"|translate}}
            @if (IsLoading()) {
                <span><i class="fas fa-spin fa-spinner"></i></span>
            }
    </button>
      
    </form>

}
 @else if (step()==3) 
 {
    <form [formGroup]="resetpassword" class="shadow rounded-3  p-2 "  (ngSubmit)="resetpasswordsubmit()">
        <div class="my-3" >
            <label for="email">{{"forgetpassword.email"|translate}}</label>
            <input  readonly [ngClass]="{
                'is-valid':   ! verifyemail.get('email')?.errors &&( verifyemail.get('email')?.touched ||verifyemail.get('email')?.dirty) ,
                'is-invalid':verifyemail.get('email')?.errors &&( verifyemail.get('email')?.touched ||verifyemail.get('email')?.dirty)
           }"
            formControlName="email" id="email" type="email" class="form-control">
            @if (verifyemail.get('email')?.errors && (verifyemail.get('email')?.touched ||verifyemail.get('email')?.dirty)) {
            
                <div class="alert alert-danger w-50">
                    @if (verifyemail.get('email')?.getError('required')) {

                        <P class="m-0">{{"forgetpassword.Email is Required"|translate}}</P>
                    }
                @else if (verifyemail.get('email')?.getError('email')) {

                    <P class="m-0">{{"forgetpassword.Enter Valid Email"|translate}}</P>
                }

                  </div>
          
            }
        </div>
        <div  class="my-3">
            <label for=" newPassword">{{"forgetpassword.newPassword"|translate}}</label>
            <input 
             formControlName="newPassword" id="newPassword" type="password" class="form-control">

            @if (resetpassword.get('newPassword')?.errors && (resetpassword.get('newPassword')?.touched  ||resetpassword.get('newPassword')?.dirty)) {
            
                <div class="alert alert-danger w-50">
                    @if (resetpassword.get('newPassword')?.getError('required')) {

                        <P class="m-0">{{"forgetpassword.newPassword is Required "|translate}}</P>
                    }
                @else if (resetpassword.get('newPassword')?.getError('pattern')) {

                    <P class="m-0">{{"forgetpassword.Enter valid newPassword"|translate}}</P>
                }

                  </div>
          
            }


        </div>
        <button   [disabled]="resetpassword.invalid" class="btn-main ">{{"forgetpassword.resetpassword"|translate}}
            @if (IsLoading()) {
                <span><i class="fas fa-spin fa-spinner"></i></span>
            }
    </button>
    </form>
 }

</section>
