<section>
    <div class="row g-0">
         <div class="col-md-10">
          <owl-carousel-o [options]="customOptionsmain">
            <ng-template carouselSlide> <img src="./assets/images/blog-img-2.jpeg" class="w-100" height="400" alt=""></ng-template> 
            <ng-template carouselSlide> <img src="./assets/images/work-2.jpg" class="w-100" height="400" alt=""></ng-template> 
            <ng-template carouselSlide> <img src="./assets/images/slider-image-3.jpeg" class="w-100" height="400" alt=""></ng-template>  
            <ng-template carouselSlide> <img src="./assets/images/slider-2.jpeg" class="w-100" height="400" alt=""></ng-template>           
            <ng-template carouselSlide> <img src="./assets/images/slider-image-2.jpeg" class="w-100" height="400" alt=""></ng-template>
            <ng-template carouselSlide> <img src="./assets/images/grocery-banner-2.jpeg" class="w-100" height="400" alt=""></ng-template>  
         
            <ng-template carouselSlide> <img src="./assets/images/blog-3.jpg" class="w-100" height="400" alt=""></ng-template>  
         
            
          </owl-carousel-o>
         
         </div>
         <div class="col-md-2">
               <img src="./assets/images/XCM_Manual_1396328_4379574_Egypt_EG_BAU_GW_DC_SL_Jewelry_379x304_1X._SY304_CB650636675_.jpg" class="w-100" height="200" alt="">
               <img src="./assets/images/XCM_Manual_1396328_4379575_Egypt_EG_BAU_GW_DC_SL_Bags_Wallets_379x304_1X._SY304_CB650636675_.jpg" class="w-100" height="200" alt="">
         </div>
    </div>
   </section>
   <!-- categories -->
   
  <section class="my-2">

    <h4 class="p-2 fw-bold text-main ">{{"home.Popular Categories"|translate}}</h4>
  
    <owl-carousel-o [options]="customOptionscart">
  
      @for (cart of categoriesList(); track cart._id) {
        <ng-template carouselSlide >
           <img [src]="cart.image" class="w-100" height="350px" [alt]="cart.name">
            <h3 class="text-main h4 ">{{cart.name}}</h3>
          </ng-template>
      }
 
      </owl-carousel-o>

  
    

  </section>
  <!-- products -->
  <section>
    <input type="search" [(ngModel)]="test" class="form-control mx-auto my-4  w-50 bg-body-secondary" [placeholder]="'home.Search by Name'|translate" >
    <div class="row g-3">
       @for (product of productList().slice(0,16 ) |search:test()   ; track product.id) {
        <div class="col-md-4 col-lg-3">
                <div class="all p-2  position-relative" >
    
                  <button   class="btn p-4 border-0 position-absolute  top-0 end-0"(click)="addheart(product.id)">
                    <i class="fa-brands fa-gratipay fa-2xl" style="color: #74C0FC;"></i>
                    <!-- <i class="fa-brands fa-gratipay fa-2xl" style="color: #fd7272;"></i> -->
                  </button>
  
  
                  <div [routerLink]="['/details',product.id]"> 
                    <img [src]="product.imageCover" class="w-100" [alt]="product.title">
                      <h6 class="  text-main pt-1">{{product.category.name|titlecase}}</h6>
                      <h2 class="small fs-6">{{product.title|text :3 }}</h2>
                           
                    <div class="d-flex justify-content-between align-content-center">
                        <span>{{product.price |currency:'GBP'}} </span>
                        <div>
                          @for ( num of [1,2,3,4,5].slice(0,product.ratingsAverage );track $index ) {
    
                           <span><i class="fa-solid fa-star rating-color "></i> </span>
                          }
                          @if (product.ratingsAverage %1 !== 0) {
                           <span><i class="fa-solid fa-star-half-stroke rating-color"></i></span>
                          }
                               
                            <span class="text-muted">{{product.ratingsAverage}}</span>
                        </div>
                    </div>
                  </div>
               
                  <div class="d-flex align-content-center justify-content-center mt-2" >
                    <button class="btn-main  w-75" (click)="addcart(product.id)">{{"home.+ Add"|translate}} </button>
                
                  </div>
             
                    
                 </div>
          
      
        </div>
       }
    </div>
  
  </section>
  
  
