<nav class="navbar navbar-expand-lg  bg-body-tertiary bg-main-light p-0   fixed-top ">
    <div class="container">
      <a class="navbar-brand p-0 me-0" routerLink="home">
       
          <img src="../../../assets/images/cart-logo-for-ecommerce-1-free-png.webp" alt="">
          <span class="fw-bolder">E-COMMERCE</span>
     


      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse " id="navbarNav">
     
           <ul class="navbar-nav mx-auto ">
          <li class="nav-item">
            <a class="nav-link " routerLinkActive="active-link" routerLink="home" >{{"navbar.home"|translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLinkActive="active-link" routerLink="products" >{{ "navbar.product"|translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLinkActive="active-link" routerLink="categories" >{{ "navbar.categories"|translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLinkActive="active-link" routerLink="brands" >{{"navbar.brands" |translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLinkActive="active-link" routerLink="cart" >{{"navbar.cart"|translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLinkActive="active-link" routerLink="wish list" >{{"navbar.wish"|translate}}</a>
          </li>

        </ul>



        
        <ul class="navbar-nav  gap-1  ">
          <li class="nav-item   position-relative ">
            <a class="nav-link " routerLinkActive="active-link" routerLink="cart" >
                  
           <i class="fa-solid fa-cart-shopping fa-xl "></i> 
           <span class="badge top-0   bg-info position-absolute ">{{cartNavNumber()}}</span>
           
            </a>
          </li>
          <li class="nav-item  position-relative ps-1 ">
            <a class="nav-link " routerLinkActive="active-link" routerLink="wish list" >
              <i class="fa-regular fa-heart fa-xl "></i>
           <span class="badge top-0   bg-info position-absolute ">{{wishNavNumber()}}</span>
        
            </a>
          </li>

          <li class="nav-item ps-1">
            <a class="nav-link cr "(click)="_AuthService.logout()" >
              LogOut
            </a>
          </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{"navbar.lang"|translate}}
              </a>
              <ul class="dropdown-menu">
                <li    [class.bg-info]=" _TranslateService.currentLang =='en' " (click)="change('en')" > <a class="dropdown-item cr" >EN</a> </li>
                <li    [class.bg-info]=" _TranslateService.currentLang =='en' " (click)="change('ar')"  ><a class="dropdown-item cr" >AR</a></li>
               
              </ul>
            </li>
          </ul>
     
  
      </div>
    </div>
  </nav>